@import "../../utils/_variables.scss";
.header{
  background: $navbar-bg-color;
  .navbar-brand{
    margin-left: 5%;
  }
  .navbar-nav{
    margin-left: 5%;
    margin-top: 5px;
  }
  .navbar-expand-lg .navbar-nav .nav-link{
    color: white;
    opacity: .75;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    &:hover{
      opacity: 1;
    }
  }
  .active{
    border-radius: 4px;
    background: white;
    opacity: 1 !important;
    span{color: $navbar-bg-color;}

  }
  .sandwich-btn{
    // background: wheat;
  }
  .signout, .signin{
    color: white;
    opacity: .75;
    margin: 18px;
    cursor: pointer;
    &:hover{
      opacity: 1;
    }
  }
  .site-logo{
    margin-left: 3%;
  }
}
@media screen and (max-widht: 992px){
  .signout{
    float: unset;
    margin-left: 10%;
  }
}