@import "../../utils/_variables.scss";

.signin-modal {
  margin-top: 20px;
  .modal-content {
    border: none;
    width: 370px;
    .layerlogo {
      background: url("../../images/home-page-layer-logo.png") no-repeat center
        center;
      height: 87px;
      width: 87px;
      margin: 9px auto 34px;
    }
    label{
      color: $paragraph-text-color;
    }
    .modal-title {
      text-align: center;
      color: $heading-color;
      margin-bottom: 40px;
    }
    .input-field {
      margin-top: 5px !important;
      input {
        margin-bottom: 0px !important;
      }
    }
    .stay-signedin {
      padding-left: 25px;
      .fa-question-circle-o {
        //cursor: help;
        &:hover {
          color: black;
        }
      }
      a {
        text-transform: capitalize;
        margin-right: 20px;
      }
    }
    .toolTipClass {
      line-height: 0.2;
    }
    .signin-btn {
      text-decoration: none;
    }
    button {
      display: block;
      margin: 0 auto;
      width: 70%;
      background: $sigin-btn-color;
      &:hover {
        text-decoration: none !important;
        color: #fff !important;
        background-color: #0194a8;
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
          0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
      }
    }
    h6 {
      text-align: center;
      padding-top: 20px;
      color: $paragraph-text-color;
    }
    .signup-free-btn {
      a {
        color: $sigin-btn-color;
        margin: 0 auto;
        font-weight: 600;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .forget-password {
      color: $sigin-btn-color;
      font-size: 12px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
