@import "../../utils/_variables.scss";
footer.page-footer{
  background: $footer-bg-color;
  min-height: 50px;
  padding: 25px;
  section{
    span{
      font-size: 11px;
      color: $footer-text-color;
    }
  }
}