@import '../../utils/_variables.scss';
.forget-password-modal {
  margin-top: 20px;
  max-width: 370px;
  width: 370px !important;
  color: $heading-color;
  .heading{margin: 0 0 16px;}
  img{
    margin: 9px auto 34px;
  }
  .form-group{
    padding-top: 17px;
  }
  p{
    color: $paragraph-text-color;
  }
}
