@import '../../utils/_variables.scss';

.slider{
  .image-container{
    width: 350px;
    height: 400px;
    border-radius: 3px;
    box-shadow: $box-shadow;
    background-size: cover;
    background-position: top center;
    margin: 2px;
    cursor: pointer;
  }
  .slick-prev:before, .slick-next:before{
    color: black;
    font-size: 25px;
    display: none;
  }
  .slick-dots li button:before{
    font-size: 30px;
  }
}