$navbar-bg-color: #ff5a60;
$home-bg-color: white;
$footer-bg-color: #F1F1F2;
$heading-color: #51505d;
$sigin-btn-color: #00bcd5;
$lets-begin-btn-color: #00bcd5;
$more-detail-btn: #00bcd5;
$forget-password-btn-color: #00bcd5;
$red: #ff5a60;
$footer-text-color: #95959d;
$paragraph-text-color:  #72727d;
$btn-hover: #0194a8;

$info-text-color: #b1b3b9;