@import "../../utils/_variables.scss";
button {
  cursor: pointer;
  color: white;
  margin-right: 12px;
  background: $lets-begin-btn-color;
  &:hover {
    background-color: #0194a8;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
      0 4px 15px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }
}
