.connect-with-her-wrapper{
  float: left;
  padding-left: 15px;
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  text-transform: capitalize; 
  h6{
    margin-right: 10px;
    line-height: 2;
  }
  a{
    font-size: 12px;
  }
}