@import "../../utils/_variables.scss";
.workFlowContainer {
  a {
    //background: url("../..//images/home-icon-sprite.png") no-repeat left 1px;
    height: 148px;
    width: 133px;
    margin: 0 auto;
    display: block;
    position: relative;
    // background-size: 100%;
    transition: all 0.5s ease-in-out 0s;
    // span {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   height: 148px;
    //   width: 133px;
    //   background: url("../../images/home-icon-sprite.png") no-repeat left -147px;
    //   opacity: 0;
    //   background-size: 100%;
    //   transition: all 0.5s ease-in-out 0s;
    // }
  }
  h5,
  p {
    text-align: center;
  }
  h5 {
    color: #00bcd5;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  p {
    color: $heading-color;
  }
}
