@import '../../utils/_variables.scss';

.single-search-user-contaienr{
  padding: 20px;
  background: white;
  box-shadow: $box-shadow; 
  min-height: 200px;
  border-radius: 4px;
  margin: 5px;
  .search-user-tilte{
    color: #00bcd5;
  }
  .search-user-image{
    max-width: 200px;
    float: left;
    // margin-top: 20px;
    height: auto;
  }
  .search-user-detail-wrapper{
    width: auto;
    float: left;
    // margin-top: 30px;
    ul{
      list-style: none;
      float: left;
      padding-left: 15px;
      // line-height: 1;
      li{
        font-size: 14px;
      }
    }
  }
  // .connect-with-her-wrapper{
  //   float: left;
  //   padding-left: 15px;
  //   display: flex;
  //   flex-basis: auto;
  //   flex-direction: row;
  //   text-transform: capitalize; 
  //   h6{
  //     margin-right: 10px;
  //     line-height: 2;
  //   }
  //   a{
  //     font-size: 12px;
  //   }
  // }
  img{
    max-width: 140px;
  }
}