@import '../../utils/_variables.scss';

.single-search-user-contaienr{
  padding: 20px;
  background: white;
  box-shadow: $box-shadow; 
  min-height: 200px;
  border-radius: 4px;
  margin: 5px;
  .search-user-tilte{
    color: #00bcd5;
  }
  .search-user-image{
    max-width: 200px;
    float: left;
    height: auto;
  }
  .table
  {
    td{
      border-top: unset;
      padding: 0.25rem;
      font-size: 12px;
      &:first-child{
        &::after{
          content: ":";
          float: right;
        }
      }
    }
  }
  img{
    max-width: 150px;
    opacity: .3;
  }
}