.searchbar-container{
  padding: 10px;
  .searchbar-bg{
    background: rgba(0,0,0,0.5);
    border-radius: 3px;
    color: #fff!important;
    margin: 47px auto 0;
    padding: 15px 19px 20px 20px !important;
  }
}
