$text-color: #00bcd5;
$paragraph-color: #72727d;

.profile_compact_view {
  margin: 0 10px;
  padding: 9px 0 16px 0;
  border-bottom: 1px solid #f1f1f2;
  height: 100px;
  // overflow: auto;
  .thumbnail {
    margin: 0 14px 0 5px;
    background: #fff;
    float: left;
    width: 60px;
    height: 60px;
    margin: 0 14px;
    position: relative;
    border: 1px solid #dfe0e3;
    border-radius: 50px;
    .small-pic {
      float: left;
      img {
        border-radius: 50px;
        width: 60px;
        height: 60px;
      }
    }
  }
  .user_info{
    float: left;
    width: 360px;
    p{
      padding: 0;
      margin: 0;
      color: $paragraph-color;
      font-size: 12px;
      a{
        color: $text-color;
        text-transform: capitalize;
      }
    }
    a{
      color: $text-color;
      text-transform: capitalize;
      font-size: 14px;
    }
  }
}