@import "../../utils/_variables.scss";
.home-page-container {
  min-height: calc(100vh - 250px);
  background: $user-home-bg;
  .welcome-message {
    margin-top: 30px;
    color: rgb(114, 114, 125);
  }
  .profile-container {
    width: 220px;
    height: 100px;
    background-color: white;
    border-radius: 4px;
    position: relative;
    img {
      width: 60px;
      height: 60px;
      margin-left: 15px;
      margin-top: 10px;
      float: left;
    }
    ul {
      float: left;
      list-style: none;
      padding-left: 15px;
      margin-top: 10px;
      li {
        a {
          color: #00bcd5;
          font-size: 14px;
        }
      }
      // display: inline-block;
    }
  }
  .new-match-container {
    width: 100%;
    height: 350px;
    background-color: white;
    border-radius: 4px;
    padding: 3px;
    h5 {
      height: 36px;
      background: #f1f1f2;
      padding: 0 12px;
      font: normal 16px/36px arial;
      color: #72727d;
      position: relative;
    }
  }
}
