@import '../../utils/_variables.scss';

.account-setting-wrapper{
  margin-top: 30px; 
  margin-bottom: 30px; 
  color: $paragraph-text-color;
  min-height: calc( 100vh - 200px);
  .settings-container{
    background: white;
    box-shadow: $box-shadow;
    padding: 20px; 
    border-radius: 3px;
    min-height: 500px;
  }
}